<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties" />

    <bean id="musicRock" class="by.du4.study.RockMusic">  </bean>
    <bean id="musicClassic" class="by.du4.study.ClassicalMusic">  </bean>
    <bean id="musicIdm" class="by.du4.study.IdmMusic">  </bean>

    <bean id="musicPlayer" class="by.du4.study.MusicPlayer">
        <constructor-arg>
            <util:list>
                <ref bean="musicClassic" />
                <ref bean="musicIdm" />
                <ref bean="musicRock" />
            </util:list>
        </constructor-arg>

        <property name="name" value="${musicPlayer.name}" />
        <property name="volume" value="${musicPlayer.volume}" />

    </bean>

</beans>