<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd


       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-init-method="init" default-destroy-method="destroy">
    <context:annotation-config/>

    <bean id="calculator" class="beans.Calculator" autowire="byName"></bean>
    <bean id="notifier" class="beans.Notifier"/>


    <bean id="person" class="beans.Person" scope="singleton" destroy-method="destroy" >
        <property name="id" value="1" />
        <property name="name" value="DUCH"/>
        <property name="surname" value="Govnokoder"/>
        <property name="email" value="du4@mail.by"></property>
    </bean>

    <bean id="addressImpl" class="beans.AddressImpl">
        <property name="id" value="3"/>
        <property name="city" value="Baranovichi"/>
        <property name="street" value="Lenina"/>
    </bean>

    <bean id="address" class="beans.Address">
        <property name="id" value="1"></property>
        <property name="home" value="43"/>
        <property name="street" value="Kiseliova"/>
        <property name="flats">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>5</value>
                <value>6</value>
            </list>
        </property>
    </bean>

    <aop:config>
        <aop:aspect id="note" ref="notifier">
            <aop:pointcut id="advice" expression="execution(* *.calculate(..))" />
            <aop:before pointcut-ref="advice" method="notifyBefore"/>
            <aop:after pointcut-ref="advice" method="notifyAfter" />
        </aop:aspect>
    </aop:config>

</beans>